<?xml version="1.0"?>
<config>
    <modules>
        <Arvobc_Obc>
            <version>0.1.4</version>
        </Arvobc_Obc>
    </modules>
    <frontend>
        <routers>
            <obc>
                <use>standard</use>
                <args>
                    <module>Arvobc_Obc</module>
                    <frontName>obc</frontName>
                </args>
            </obc>
        </routers>
        <layout>
            <updates>
                <obc>
                    <file>obc.xml</file>
                </obc>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<obc>
				<use>admin</use>
				<args>
					<module>Arvobc_Obc</module>
					<frontName>obc</frontName>
				</args>
			</obc>
        </routers>
    </admin>
    <global>
        <models>
            <obc>
                <class>Arvobc_Obc_Model</class>
                <resourceModel>obc_mysql4</resourceModel>
            </obc>
            <obc_mysql4>
                <class>Arvobc_Obc_Model_Mysql4</class>
                <entities>
                    <obc>
                        <table>obc</table>
                    </obc>
                </entities>
            </obc_mysql4>
        </models>
        <resources>
            <obc_setup>
                <setup>
                    <module>Arvobc_Obc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </obc_setup>
            <obc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </obc_write>
            <obc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </obc_read>
        </resources>
        <blocks>
            <obc>
                <class>Arvobc_Obc_Block</class>
            </obc>
        </blocks>
        <helpers>
            <obc>
                <class>Arvobc_Obc_Helper</class>
            </obc>
        </helpers>
		<events>
			<controller_action_layout_generate_blocks_before>
				<observers>
					<obc_block_observer>
						<type>singleton</type>
						<class>Arvobc_Obc_Model_Observer</class>
						<method>add_obc_block</method>
					</obc_block_observer>
				</observers>
			</controller_action_layout_generate_blocks_before>     
		</events>
    </global>
	<default>
		<obcconfig>
			<obc_group>
				<obc_enabled>1</obc_enabled>
				<obc_records>10</obc_records>
				<obc_showaddress>1</obc_showaddress>
				<obc_showdate>1</obc_showdate>
				<obc_position>right</obc_position>
				<obc_position_before>cart_sidebar</obc_position_before>
				<obc_position_after></obc_position_after>
			</obc_group>
		</obcconfig>
	</default>
</config>